/*  your css code here. If applicable */
.yellow-star{
	background-color:yellow;
	height:20vh;
	width:20vh;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	
}